{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="content flex items-center justify-center min-h-screen bg-gray-700">
    <div class="content1 flex flex-col items-center">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center">
            Hello
        </h1>
        <p class="mb-6 text-lg font-normal text-black-700 lg:text-xl sm:px-16 xl:px-48 dark:text-black-600 text-center">
            I am going to introduce myself using this website
        </p>
        <a href="{% url 'about'%}" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
          Let's Get Started
        </a>
    </div>
</div>

{% endblock content %}
